.about-section {
    width: 100%;
    padding: var(--section-padding);
}

.about-section__wrapper {
    max-width: 1000px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}

.about-section__img-wrapper {
    position: relative;
}

.about-section__group-photo {
    height: auto;
    width: 100%;
}

.about-section__arrow {
    position: absolute;
    top: -50px;
    right: -50px;
    height: auto;
    width: 50px;
}

.about-section__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-section__section-subtitle {
    display: block;
    padding: 0.5em 1em;
    background-color: var(--orange-color);
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: var(--section-subtitle-font-size);
}

.about-section__section-title {
    font-size: var(--section-title-font-size);
    font-weight: 600;
    margin-top: 5px;
}

.about-section__description-title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.7rem;
}

.about-section__description-title--colored {
    color: var(--orange-color);
}

.about-section__description {
    margin-top: 15px;
}