.best-seller-section {
    width: 100%;
    padding: 5rem 2rem;
    background: var(--section-bg-color);
}

.best-seller-section__wrapper {
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.best-seller-section__header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.best-seller-section__title {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
}

.best-seller-section__subtitle {
    display: block;
    padding: 0.5em 1em;
    background-color: var(--orange-color);
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}

.best-seller-section__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-top: 50px;
}

.best-seller-section__headshot-img {
    height: auto;
    width: 480px;
}

.best-seller-section__cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 230px 230px;
    gap: 20px;
}

.best-seller-section__card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.best-seller-section__card:hover {
    transform: scale(1.05);
}

.best-seller-section__card-header {
    height: 100%;
    width: 100%;
}

.best-seller-section__food-img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.best-seller-section__card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.best-seller-section__food-name {
    font-weight: 500;
}

.best-seller-section__card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.best-seller-section__food-price {
    font-weight: 500;
} 


.best-seller-section__rating-img {
    height: auto;
    width: 35px;
}

