.hero-section {
    height: 90vh;
    padding: 5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section__wrapper {
    max-width: 1300px;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-section__title {
    font-size: 2.5rem;
    font-weight: 600;
}

.hero-section__title-colored {
    color: var(--orange-color);
}

.hero-section__supporting-text {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 10px;

    display: block;
    width: 80%;
}

.hero-section__button {
    font-weight: 600;
    padding: 0.7em 1.5em;
    margin-top: 20px;
    background: var(--orange-color);
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}

.hero-section__button:hover {
    transform: scale(1.05);
}

.hero-section__img {
    height: auto;
    width: 700px;
    object-fit: cover;
}

@media screen and (min-width: 1200px) and (max-width: 1399px){

    .hero-section__wrapper {
        max-width: 1000px;
    }
    
    .hero-section__title {
        font-size: 2.1rem;  
    }
    
    .hero-section__supporting-text {
        font-size: 1rem;
    }
    
    .hero-section__button {
        padding: 0.5em 1em;
        font-size: 0.9rem;
    }
    
    .hero-section__img {
        width: 550px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px){
    .hero-section__wrapper {
        max-width: 1000px;
    }
    
    .hero-section__title {
        font-size: 2.1rem;  
    }
    
    .hero-section__supporting-text {
        font-size: 1rem;
    }
    
    .hero-section__button {
        padding: 0.5em 1em;
        font-size: 0.9rem;
    }
    
    .hero-section__img {
        width: 550px;
    }
}
