.pares {
    height: 100%;
    width: 100%;
}

.pares__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pares__title {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 5px;
}

.pares__subtitle {
    font-weight: 500;
    font-size: 1.2rem;
    display: block;
    padding: 0.2em 1em;
    background: var(--orange-color);
    border-radius: 50px;
    color: white;
}

.pares__cards-wrapper{
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.pares__card {
    padding: 1rem 1rem;
    background: rgb(247, 247, 247);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    row-gap: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.pares__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.pares__card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.pares__card-food-name {
    font-weight: 600;
}

.pares__card-food-description {
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 10px;
}

.pares__card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.pares__card-add-cart-icon {
    height: auto;
    width: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.pares__card-add-cart-icon:hover {
    transform: scale(1.1);
}


@media screen and (min-width: 1200px) and (max-width: 1399px) {

    .pares__title {
        font-weight: 600;
        font-size: 1.5rem;
    }

    .pares__subtitle {
        font-size: 1rem;
    }

    .pares__cards-wrapper{
        grid-template-columns: repeat(4, 1fr);
    }

    .pares__card-food-name {
        font-size: 1rem;
    }
    
    .pares__card-food-description {
        font-size: 0.8rem;
    }

    .pares__card-price {
        font-size: 1rem;
        font-weight: 600;
    }

    .pares__card-add-cart-icon {
        width: 25px;
    }
    

}


@media screen and (min-width: 1000px) and (max-width: 1199px) {

    .pares__title {
        font-weight: 600;
        font-size: 1.5rem;
    }

    .pares__subtitle {
        font-size: 1rem;
    }

    .pares__cards-wrapper{
        grid-template-columns: repeat(4, 1fr);
    }

    .pares__card-food-name {
        font-size: 1rem;
    }
    
    .pares__card-food-description {
        font-size: 0.8rem;
    }

    .pares__card-price {
        font-size: 1rem;
        font-weight: 600;
    }

    .pares__card-add-cart-icon {
        width: 25px;
    }

}