.menu {
    height: 100vh;

    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
    
}

.menu__sidebar {
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
 }

.menu__content {
    grid-column-start: 2;
    padding: 20px 30px;
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .menu {
        grid-template-columns: 220px 1fr;
    }

    .menu__sidebar {
        width: 215px;
     }

}


@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .menu {
        grid-template-columns: 220px 1fr;
    }

    .menu {
        grid-template-columns: 220px 1fr;
    }

    .menu__sidebar {
        width: 215px;
     }
}