.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.nav-menu__wrapper {
    width: 100%;
}

.nav-menu__logo-wrapper {
    width: 100%;
    border-bottom: 2px solid rgb(230, 230, 230);
    padding-bottom: 20px;
}

.nav-menu__logo {
    height: auto;
    width: 100%;
}

.nav-menu__links-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.nav-menu__link-list {
    list-style: none;
}

.nav-menu__link {
    text-decoration: none;
    display: block;
    padding: 0.6em 1em;
    color: black;
    font-weight: 500;
    transition: all 0.2s ease;
    border-radius: 5px;
}

.nav-menu__link-active {
    text-decoration: none;
    display: block;
    background: #E38D21;
    padding: 0.6em 1em;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}

.nav-menu__link:hover {
    background: #E38D21;
    color: white;
}
