*{
  font-family: Poppins;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.title{
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2613F;
}

.pares-card{
  background-color:#9B3922;
  color: white;
  padding: 20px;
  margin: 20px;
  width: 330px;
  height: 300px;
  border-radius: 8px;
}
.stylish-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(70, 201, 70);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.stylish-button:hover {
  background-color: rgb(70, 201, 70);
  transform: scale(1.05);
}

.stylish-button:active {
  background-color: rgb(70, 201, 70);
  transform: scale(0.95);
}